# Default ignored files
/../../../:HologramStats/.idea/shelf/
/../../../:HologramStats/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../:HologramStats/.idea/httpRequests/
# Datasource local storage ignored files
/../../../:HologramStats/.idea/dataSources/
/../../../:HologramStats/.idea/dataSources.local.xml
